@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<h3>Host Information</h3>
<b>Hostname:</b> @ViewData["HOSTNAME"]</br>
<b>Processors:</b> @ViewData["PROCESSORS"]</br>
<b>OS Architecture:</b> @ViewData["OSARCHITECTURE"]</br>
<b>OS Description:</b> @ViewData["OSDESCRIPTION"]</br>
<b>Process Architecture:</b> @ViewData["PROCESSARCHITECTURE"]</br>
<b>Framework Description:</b> @ViewData["FRAMEWORKDESCRIPTION"]</br>
<b>ASP.NET Hosting Env:</b> @ViewData["FRAMEWASPNETCORE_ENVIRONMENT"]</br>

<h3>Environmental Variables:</h3>
@Html.Raw(ViewData["ENV_VARS"])
